<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--
		
		
	<add name="qlvt_pt.properties.settings.qlvtconnectionstring"
   connectionstring="data source=msi\sever01;initial catalog=qlvt;user id=sa;password=123456;trustservercertificate=true"
   providername="system.data.sqlclient" />
  <add name="qlvtconnectionstring" connectionstring="xpoprovider=mssqlserver;data source=msi\sever01;initial catalog=qlvt;trustservercertificate=true" />
		-->
  <add name="QLVT_PT.Properties.Settings.QLVTConnectionString"
  connectionString="Data Source=DESKTOP-QHP367E\SERVER1;Initial Catalog=QLVT;User ID=sa;password=123;TrustServerCertificate=True"
  providerName="System.Data.SqlClient" />
	<add name="QLVTConnectionString" connectionString="xpoprovider=MSSqlServer;data source=DESKTOP-QHP367E\SERVER1;initial catalog=QLVT;trustservercertificate=True" />
 </connectionStrings>
 <applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>